.iconos-redes-header{
    width: 20px;
    margin: 3px;
}

.row{
    margin: 50px;
}
 
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


